# docker-compose.yml

services:
  app:
    build:
      context: .
      dockerfile: ./compose/Dockerfile
      args:
        - BUILD_ENV=production  # Or 'development' if needed
    command: /start
    volumes:
      - .:/app  # Optional: For development hot-reloading